<div class='container'>
  {{# link-to 'products'}}
    <div class='page-header'>
      <h1>Robo-Router</h1>
    </div>
  
    <p class='lead'>Why have friends when you could have robots?</p>
  {{/ link-to}}
  <hr>
  
  {{outlet}}
</div>