<div class='container'>
  <h1>My Ember App</h1>
  <p class='lead'>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  <hr>
  {{outlet}}
  
  <div class='text-muted'><small>Foot</small></div>
</div>
