<div class='container'>
  <h1>My Ember App</h1>
  <p class='lead'>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  {{ outlet }}
</div>

{{#link-to "cart" }}Cart{{/link-to}}
{{#link-to "products" }}Products{{/link-to}}