<div class='container'>
  <h1>My Ember App</h1>
  <p class='lead'>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  {{outlet}}
  <hr>
  {{#link-to "products" }}Products{{/link-to}}
  {{#link-to "cart" }}Cart{{/link-to}}
</div>
